/* Overrides bootstrap */
body { padding-top: 70px; }

.navbar-brand
{
	margin-left: 0px !important;
	/* TODO make it centered without breaking display on mobile
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    z-index: -1; 
    */
}

.navbar-brand:focus { outline: none; } /* remove blue outline when closing modal */
.modal p { word-wrap: break-word; } /* cron.text */
.progress {position: relative;}
.percentage {position: absolute; left: 5px;}
.remaining {position: absolute; right: 5px;}

/* Overrides bootstrap-table */
.pagination-detail {display: none;}

/* Overrides boostrap-table-editable */
a.editable { display: block; }
.editable-click, a.editable-click, a.editable-click:hover { border-bottom: none; }

/* App */
a { cursor: pointer; } /* links with no href */
.g-signin { margin: 6px; }

.navbar-form .checkbox { margin-top: 8px; }

tr.selected td { background-color: #694f37 !important;}

input.error {
    color: #a94442 !important;
    background-color: #ee5f5b !important;
    border: 1px solid #ed4d63 !important;
}

#search {
	width: 0px;
	background-color: transparent;
	-webkit-transition: all .40s ease;
	-moz-transition: all .40s ease;
	-ms-transition: all .40s ease;
	-o-transition: all .40s ease;
	transition: all .40s ease;
}
#search:focus {
	width: 210px; /* just enough for "Rechercher des albums" */
	background-color: white;
}

.view {
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: auto;
    height: auto;
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.prv, .nxt {
	position: absolute;
	top: 50%;
	margin-top: -26px;
	z-index: 1; /* over .view div */
}

.prv {
	left: 10px;
}

.nxt {
	right: 10px;
}

.view img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.stack {
	position: relative;
	margin: 25px !important;
	background-image: url('../img/album.png');
}

.stack:before, .stack:after {
	content: "";
	border-radius: 2px;
	height: 204px; /* 200px + 2 * border */
	width: 204px;
	position: absolute;
	top: -2px; /* border */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #ddd;
    
    /*
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    */
    
}

.stack::before { 
	background: darkslategray;
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    transform: rotate(6deg);
    z-index: -10;
}
.stack::after {
	background: #768590;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    transform: rotate(-3deg);
    z-index: -20;
}

.thumb {
	float: left;
	margin: 10px;
	border: 2px solid #ddd;
	border-radius: 2px;
	height: 204px; /* 200px + 2 * border */
	width: 204px;
	background-size: cover;
	background-position: center;
	background-color: black; /* for missing thumbnails */
}

.private {
	opacity: 0.2;
	filter: alpha(opacity=40); /* For IE8 and earlier */
}

.thumb a {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
}

.thumb.video a, .thumb.youtube a {
	background-image: url('../img/play.png');
	background-size: 30%;
}

.thumb .cover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 5px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 176px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(60%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.5) 80%,rgba(0,0,0,.9) 100%); /* W3C */
}

.rotate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}